<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Theloai[]|\Cake\Collection\CollectionInterface $theloai
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Theloai'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="theloai index large-9 medium-8 columns content">
    <h3><?= __('Theloai') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('Ten') ?></th>
                <th scope="col"><?= $this->Paginator->sort('TenKhongDau') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created_at') ?></th>
                <th scope="col"><?= $this->Paginator->sort('updated_at') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($theloai as $theloai): ?>
            <tr>
                <td><?= $this->Number->format($theloai->id) ?></td>
                <td><?= h($theloai->Ten) ?></td>
                <td><?= h($theloai->TenKhongDau) ?></td>
                <td><?= h($theloai->created_at) ?></td>
                <td><?= h($theloai->updated_at) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $theloai->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $theloai->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $theloai->id], ['confirm' => __('Are you sure you want to delete # {0}?', $theloai->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
