
<!-- Page Content -->
    <div class="container">

    	<!-- slider -->
    	<div class="row carousel-holder">
    		<div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
				  	<div class="panel-heading">Đăng nhập</div>
				  	<div class="panel-body">

				    	<!--<form method="POST" action="users/login">

							<div>
				    			<label>Email</label>
							  	<input type="email" class="form-control" placeholder="Email" name="email"  id="email">
							</div>
							<br>	
							<div>
				    			<label>Mật khẩu</label>
							  	<input type="password" class="form-control" name="password">
							</div>
							<br>
							<button type="button" class="btn btn-success button" name="submit">
								Đăng nhập
							</button>
				    	</form>-->




				  	</div>
				</div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- end slide -->
    </div>
    <!-- end Page Content -->



