 <!-- Page Content -->
    <div class="container">

    	<!-- slider -->
    	<div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="image/800x300.png" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="image/800x300.png" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="image/800x300.png" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end slide -->

        <div class="space20"></div>


        <div class="row main-left">
            <div class="col-md-3 ">
                <ul class="list-group" id="menu">
                    <li href="#" class="list-group-item menu1 active">
                    	Menu
                    </li>

                    <li href="#" class="list-group-item menu1">
                    	Level 1
                    </li>
                    <ul>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                    </ul>

                    <li href="#" class="list-group-item menu1">
                    	<a href="#">Level 1</a>
                    </li>
                    <ul>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                    </ul>


                    <li href="#" class="list-group-item menu1">
                    	<a href="#">Level 1</a>
                    </li>

                    <ul>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                    </ul>


                    <li href="#" class="list-group-item menu1">
                    	<a href="#">Level 1</a>
                    </li>
                    <ul>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                		<li class="list-group-item">
                			<a href="#">Level2</a>
                		</li>
                    </ul>

                    <li href="#" class="list-group-item menu1">
                    	<a href="#">Level 1</a>
                    </li>
                    <li href="#" class="list-group-item menu1">
                    	<a href="#">Level 1</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
	            <div class="panel panel-default">            
	            	<div class="panel-heading" style="background-color:#337AB7; color:white;" >
	            		<h2 style="margin-top:0px; margin-bottom:0px;">Liên hệ</h2>
	            	</div>

	            	<div class="panel-body">
	            		<!-- item -->
                        <h3><span class="glyphicon glyphicon-align-left"></span> Thông tin liên hệ</h3>
					    
                        <div class="break"></div>
					   	<h4><span class= "glyphicon glyphicon-home "></span> Địa chỉ : </h4>
                        <p>90-92 Lê Thị Riêng, Quận 1, Bến Thành, HCM </p>

                        <h4><span class="glyphicon glyphicon-envelope"></span> Email : </h4>
                        <p>90-92 Lê Thị Riêng, Quận 1, Bến Thành, HCM </p>

                        <h4><span class="glyphicon glyphicon-phone-alt"></span> Điện thoại : </h4>
                        <p>90-92 Lê Thị Riêng, Quận 1, Bến Thành, HCM </p>



                        <br><br>
                        <h3><span class="glyphicon glyphicon-globe"></span> Bản đồ</h3>
                        <div class="break"></div><br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5201952559787!2d106.68891131458902!3d10.771412992324944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3c586421ef%3A0xb606461dc7627921!2zVHJ1bmcgVMOibSDEkMOgbyBU4bqhbyBUaW4gSOG7jWMgS2hvYSBQaOG6oW0!5e0!3m2!1svi!2s!4v1465285414810" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

					</div>
	            </div>
        	</div>
        </div>
        <!-- /.row -->
    </div>
    <!-- end Page Content -->